<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.org.dao.FundApplyLogMapper">
  <resultMap id="BaseResultMap" type="com.test.org.pojo.FundApplyLog">
    <result column="FLOW_NO" jdbcType="VARCHAR" property="flowNo" />
    <result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="ACCOUNT_NO" jdbcType="VARCHAR" property="accountNo" />
    <result column="MCH_NO" jdbcType="VARCHAR" property="mchNo" />
    <result column="DRAWEE_ACCT_NO" jdbcType="VARCHAR" property="draweeAcctNo" />
    <result column="PAYEE_ACCT_NO" jdbcType="VARCHAR" property="payeeAcctNo" />
    <result column="CURR_COD" jdbcType="CHAR" property="currCod" />
    <result column="TX_AMT" jdbcType="DECIMAL" property="txAmt" />
    <result column="OUT_AMT_SIT_NO" jdbcType="VARCHAR" property="outAmtSitNo" />
    <result column="CHECK_STATUS" jdbcType="TINYINT" property="checkStatus" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="ALIVE_FLAG" jdbcType="CHAR" property="aliveFlag" />
    <result column="MARKET_ID" jdbcType="VARCHAR" property="marketId" />
    <result column="BANK_TYPE" jdbcType="VARCHAR" property="bankType" />
  </resultMap>
  <insert id="insert" parameterType="com.test.org.pojo.FundApplyLog">
    insert into t_fund_apply_log (FLOW_NO, MEMBER_ID, ACCOUNT_NO, 
      MCH_NO, DRAWEE_ACCT_NO, PAYEE_ACCT_NO, 
      CURR_COD, TX_AMT, OUT_AMT_SIT_NO, 
      CHECK_STATUS, REMARK, CREATE_DATE, 
      UPDATE_DATE, CREATE_USER, UPDATE_USER, 
      ALIVE_FLAG, MARKET_ID, BANK_TYPE
      )
    values (#{flowNo,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, #{accountNo,jdbcType=VARCHAR}, 
      #{mchNo,jdbcType=VARCHAR}, #{draweeAcctNo,jdbcType=VARCHAR}, #{payeeAcctNo,jdbcType=VARCHAR}, 
      #{currCod,jdbcType=CHAR}, #{txAmt,jdbcType=DECIMAL}, #{outAmtSitNo,jdbcType=VARCHAR}, 
      #{checkStatus,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{aliveFlag,jdbcType=CHAR}, #{marketId,jdbcType=VARCHAR}, #{bankType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.org.pojo.FundApplyLog">
    insert into t_fund_apply_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowNo != null">
        FLOW_NO,
      </if>
      <if test="memberId != null">
        MEMBER_ID,
      </if>
      <if test="accountNo != null">
        ACCOUNT_NO,
      </if>
      <if test="mchNo != null">
        MCH_NO,
      </if>
      <if test="draweeAcctNo != null">
        DRAWEE_ACCT_NO,
      </if>
      <if test="payeeAcctNo != null">
        PAYEE_ACCT_NO,
      </if>
      <if test="currCod != null">
        CURR_COD,
      </if>
      <if test="txAmt != null">
        TX_AMT,
      </if>
      <if test="outAmtSitNo != null">
        OUT_AMT_SIT_NO,
      </if>
      <if test="checkStatus != null">
        CHECK_STATUS,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="aliveFlag != null">
        ALIVE_FLAG,
      </if>
      <if test="marketId != null">
        MARKET_ID,
      </if>
      <if test="bankType != null">
        BANK_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowNo != null">
        #{flowNo,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null">
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="mchNo != null">
        #{mchNo,jdbcType=VARCHAR},
      </if>
      <if test="draweeAcctNo != null">
        #{draweeAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="payeeAcctNo != null">
        #{payeeAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="currCod != null">
        #{currCod,jdbcType=CHAR},
      </if>
      <if test="txAmt != null">
        #{txAmt,jdbcType=DECIMAL},
      </if>
      <if test="outAmtSitNo != null">
        #{outAmtSitNo,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="aliveFlag != null">
        #{aliveFlag,jdbcType=CHAR},
      </if>
      <if test="marketId != null">
        #{marketId,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        #{bankType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>