<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.org.dao.QaRegionMapper">
  <resultMap id="BaseResultMap" type="com.test.org.pojo.QaRegion">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId" />
    <result column="IS_PUBLIC" jdbcType="TINYINT" property="isPublic" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="IMAGE" jdbcType="VARCHAR" property="image" />
    <result column="ANSER_COUNT" jdbcType="INTEGER" property="anserCount" />
    <result column="INSTRODUCE" jdbcType="VARCHAR" property="instroduce" />
    <result column="IS_AUDITING" jdbcType="VARCHAR" property="isAuditing" />
    <result column="ORDER_TAGS" jdbcType="VARCHAR" property="orderTags" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ALIVE_FLAG" jdbcType="VARCHAR" property="aliveFlag" />
    <result column="MARKET_ID" jdbcType="VARCHAR" property="marketId" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="EXT1" jdbcType="VARCHAR" property="ext1" />
    <result column="EXT2" jdbcType="VARCHAR" property="ext2" />
    <result column="EXT3" jdbcType="VARCHAR" property="ext3" />
    <result column="EXT4" jdbcType="VARCHAR" property="ext4" />
    <result column="EXT5" jdbcType="VARCHAR" property="ext5" />
    <result column="EXT6" jdbcType="VARCHAR" property="ext6" />
    <result column="EXT7" jdbcType="VARCHAR" property="ext7" />
    <result column="EXT8" jdbcType="VARCHAR" property="ext8" />
    <result column="EXT9" jdbcType="VARCHAR" property="ext9" />
    <result column="EXT10" jdbcType="VARCHAR" property="ext10" />
  </resultMap>
  <insert id="insert" parameterType="com.test.org.pojo.QaRegion">
    insert into t_qa_region (ID, CREATOR_ID, IS_PUBLIC, 
      NAME, IMAGE, ANSER_COUNT, 
      INSTRODUCE, IS_AUDITING, ORDER_TAGS, 
      CREATE_TIME, ALIVE_FLAG, MARKET_ID, 
      UPDATE_USER, UPDATE_DATE, CREATE_USER, 
      CREATE_DATE, EXT1, EXT2, 
      EXT3, EXT4, EXT5, EXT6, 
      EXT7, EXT8, EXT9, EXT10
      )
    values (#{id,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, #{isPublic,jdbcType=TINYINT}, 
      #{name,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{anserCount,jdbcType=INTEGER}, 
      #{instroduce,jdbcType=VARCHAR}, #{isAuditing,jdbcType=VARCHAR}, #{orderTags,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{aliveFlag,jdbcType=VARCHAR}, #{marketId,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, 
      #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR}, #{ext6,jdbcType=VARCHAR}, 
      #{ext7,jdbcType=VARCHAR}, #{ext8,jdbcType=VARCHAR}, #{ext9,jdbcType=VARCHAR}, #{ext10,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.org.pojo.QaRegion">
    insert into t_qa_region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="isPublic != null">
        IS_PUBLIC,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="image != null">
        IMAGE,
      </if>
      <if test="anserCount != null">
        ANSER_COUNT,
      </if>
      <if test="instroduce != null">
        INSTRODUCE,
      </if>
      <if test="isAuditing != null">
        IS_AUDITING,
      </if>
      <if test="orderTags != null">
        ORDER_TAGS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="aliveFlag != null">
        ALIVE_FLAG,
      </if>
      <if test="marketId != null">
        MARKET_ID,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="ext1 != null">
        EXT1,
      </if>
      <if test="ext2 != null">
        EXT2,
      </if>
      <if test="ext3 != null">
        EXT3,
      </if>
      <if test="ext4 != null">
        EXT4,
      </if>
      <if test="ext5 != null">
        EXT5,
      </if>
      <if test="ext6 != null">
        EXT6,
      </if>
      <if test="ext7 != null">
        EXT7,
      </if>
      <if test="ext8 != null">
        EXT8,
      </if>
      <if test="ext9 != null">
        EXT9,
      </if>
      <if test="ext10 != null">
        EXT10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="isPublic != null">
        #{isPublic,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="anserCount != null">
        #{anserCount,jdbcType=INTEGER},
      </if>
      <if test="instroduce != null">
        #{instroduce,jdbcType=VARCHAR},
      </if>
      <if test="isAuditing != null">
        #{isAuditing,jdbcType=VARCHAR},
      </if>
      <if test="orderTags != null">
        #{orderTags,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aliveFlag != null">
        #{aliveFlag,jdbcType=VARCHAR},
      </if>
      <if test="marketId != null">
        #{marketId,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null">
        #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null">
        #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="ext6 != null">
        #{ext6,jdbcType=VARCHAR},
      </if>
      <if test="ext7 != null">
        #{ext7,jdbcType=VARCHAR},
      </if>
      <if test="ext8 != null">
        #{ext8,jdbcType=VARCHAR},
      </if>
      <if test="ext9 != null">
        #{ext9,jdbcType=VARCHAR},
      </if>
      <if test="ext10 != null">
        #{ext10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>